/* CSS Document */
.item{
	width:360px !important;
	height:100px !important;
	overflow:hidden !important;
	float:left !important;
	margin:10px !important;
	padding:10px !important;
}

.category-twitter{
	width:360px !important;
	height:60px !important;
}

.category-instagram{
	width:180px !important;
	height:180px !important;
}

.category-youtube{
	width:360px !important;
	height:200px !important;
}